numpy==1.26.4
dm_control==1.0.46
mujoco==3.13.0
mujoco-warp==3.13.0
warp-lang==1.17.0
h5py==3.12.1
scipy==1.14.1
Pillow==10.4.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
tensorflow-cpu==2.15.1
tensorflow-probability==0.23.0
protobuf==4.25.5
setuptools==79.0.1
wheel==0.46.3
